In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import re
import pandas as pd

In [3]:
def remove_string_from_list(str_list, str_to_remove):
    """
    Removes every occurrence of a given string from a list of strings.
    
    Parameters:
    -----------
    str_list: list
        List of strings from which to remove the given string.
    
    str_to_remove: str
        String to remove from the list.
    
    Returns:
    --------
    new_list: list
        List of strings with every occurrence of the given string removed.
    """
    new_list = [x for x in str_list if x != str_to_remove]
    return new_list

In [38]:
def remove_string_from_list2(str_list, str_to_remove):
    """
    Removes every occurrence of a given string from a list of strings.
    
    Parameters:
    -----------
    str_list: list
        List of strings from which to remove the given string.
    
    str_to_remove: str
        String to remove from the list.
    
    Returns:
    --------
    new_list: list
        List of strings with every occurrence of the given string removed.
    """
    substring = "casas para comprar"
    new_list = [x for x in str_list if substring in x]
    return new_list

In [1]:
price = []
location = []
typology = []
bathrooms = []
square_meters = []
category = []
count = 1

In [4]:
for item in range(5):
    path = "C:\Program Files (x86)\chromedriver.exe"
    service = Service(path)
    driver = webdriver.Chrome(service=service)
    
    driver2 = driver.get(f"https://www.remax.pt/comprar?searchQueryState=%7B%22regionName%22:%22Porto%22,%22businessType%22:1,%22page%22:{count},%22regionID%22:%2278%22,%22regionType%22:%22Region1ID%22,%22sort%22:%7B%22fieldToSort%22:%22PublishDate%22,%22order%22:1%7D,%22mapIsOpen%22:false,%22prn%22:%22Porto%22,%22regionCoordinates%22:%7B%22latitude%22:41.21011650909249,%22longitude%22:-8.449367332491727%7D,%22regionZoom%22:9,%22mapScroll%22:false%7D")
    elements = driver.find_elements('xpath', '//*[@id="root"]/div/div[1]/div/div[2]/div/div[2]/div/div[2]/div[1]')
    string_html = elements[0].text
    driver.close()
    string_split = string_html.split('\n')
    string_clean = remove_string_from_list(string_split, 'Visita virtual')
    string_clean = remove_string_from_list(string_clean, 'Collection')
    string_clean = remove_string_from_list(string_clean, 'Redução de Preço')
    string_clean = remove_string_from_list(string_clean, re.compile(r"\d+\.?\d*\s+casas para comprar"))
    string_clean = remove_string_from_list(string_clean, 'Mais Recente')
    string_clean = remove_string_from_list(string_clean, '(current)')
    string_clean = remove_string_from_list(string_clean, 'Previous')
    string_clean = remove_string_from_list(string_clean, 'Next')
    string_clean = remove_string_from_list(string_clean, 'Não há imóveis que obedeçam ao seu critério de procura!')
    string_clean = remove_string_from_list(string_clean, 'preço sob consulta')
    string_clean = remove_string_from_list(string_clean, '--')
    count += 1
    for index in range(7,len(string_clean), 7):
  
  # Save casa into a variable
        casa = string_clean[index-7:index]
  # Store casa atributes into the diferent column variables
        price.append(casa[0].split('€')[0])
        location.append(casa[1])
        typology.append(casa[6])
        bathrooms.append(casa[5])
        square_meters.append(casa[3])
        category.append(casa[2])

In [5]:
price

['320 000 ',
 '990 000 ',
 '235 000 ',
 '195 000 ',
 'Porto -  Vila Nova de Gaia, Gulpilhares e Valadares',
 'Porto -  Matosinhos, Matosinhos e Leça da Palmeira',
 'Porto -  Matosinhos, Matosinhos e Leça da Palmeira',
 'Porto -  Gondomar, Fânzeres e São Pedro da Cova',
 'Apartamento',
 'Moradia',
 'Apartamento',
 'Trespasse',
 '-- m',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '69 500 ',
 'Porto -  Matosinhos, Custóias, Leça do Balio e Guifões',
 'Porto -  Vila do Conde, Touguinha e Touguinhó',
 'Porto -  Vila Nova de Gaia, Pedroso e Seixezelo',
 'Porto -  Gondomar, Fânzeres e São Pedro da Cova',
 'Porto -  Valongo, Alfena',
 'Moradia',
 'Apartamento',
 'Apartamento',
 'Terreno',
 '111 m',
 'Apartamento',
 'Apartamento',
 'Apartamento',
 'Apartamento',
 'Prédio',
 'Moradia',
 'Moradia',
 'Apartamento',
 '60 000 ',
 'Porto -  Paredes, Baltar',
 'Porto -  Amarante, Telões',
 'Apartamento',
 'Terreno',
 '-- m',
 '2',
 '2',
 '7',
 '0',
 '144 000 ',
 '234 900 ',
 '182 000 ',
 '375 000 ',
 '180 000 ',
 '129 900 ',
 '449 500 ',
 '700 000 ',
 '500 000 ',
 '310 000 ',
 '293 000 ',
 '1 199 000 ',
 'Porto -  Amarante, Telões',
 'Apartamento',
 'Apartamento',
 'Apartamento',
 'Moradia',
 'Terreno',
 '82 m',
 '348 m',
 '170 m',
 '2000 m',
 '2',
 '2',
 '2',
 '3',
 '2',
 '350 000 ',
 '380 000 ',
 '225 000 ',
 '148 000 ',
 'Porto -  Vila Nova de Gaia, Vilar de Andorinho',
 'Porto -  Matosinhos, Matosinhos e Leça da Palmeira',
 'Porto -  Maia, Águas Santas',
 'Porto -  Vila do Conde, Malta e Canidelo',
 'Porto -  Gondomar, Rio Tinto',
 'Porto -  Felgueiras, Margaride (Santa Eulália), Várzea, Lagares, Varziela e Moure',
 'Apartamento',
 'Apartamento',
 'Apartamento',
 'Apartamento',
 'Terreno',
 '93 m',
 '187 m',
 '-- m',
 '-- m']

In [98]:
df = pd.DataFrame(price)

In [ ]:
typology = []
bathrooms = []
square_meters = []
category = []

In [99]:
df["Location"]= location
df["Typology"]= typology
df["Bathrooms"]= bathrooms
df["Square_meters"]= square_meters
df["Category"]= category
df

,0,Location,Typology,Bathrooms,Square_meters,Category
0,520 000,"Lisboa - Vila Franca de Xira, Castanheira do ...",4,5,323 m,Apartamento
1,390 000,"Lisboa - Oeiras, Oeiras e São Julião da Barra...",4,2,139 m,Apartamento
2,83 000,"Lisboa - Azambuja, Azambuja",1,1,35 m,Quinta
3,280 000,"Évora - Montemor-o-Novo, Nossa Senhora da Vil...",1,2,50 m,Apartamento
4,298 000,"Évora - Montemor-o-Novo, Nossa Senhora da Vil...",2,2,86 m,Apartamento
...,...,...,...,...,...,...
1895,170 000,"Lisboa - Cascais, São Domingos de Rana",175 000 €,0,-- m,Terreno
1896,Vendido,"Lisboa - Loures, Loures",3,2,76 m,Apartamento
1897,150 000,"Lisboa - Amadora, Venteira",2,2,62 m,Apartamento
1898,137 500,"Lisboa - Cascais, São Domingos de Rana",259 500 € 265 000 € 2%,0,288 m,Terreno
1899,"Lisboa - Lisboa, Parque das Nações",Apartamento,698 000 €,3,2,85 m

In [100]:
import pandas as pd

In [102]:
df.to_excel("df.xlsx")